    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/templates/static/style.css">
        <link rel="stylesheet" href="/templates/static/modal.css">
        <title>Valentine's Day Proposal</title>
    </head>
    <body>
        <div class="container">
            <img src="/templates/heart.png.png" alt="Heart icon" width="50">
            <h1>Will you be my Valentine? 💖</h1>
            <img src="/templates/couple.png.svg" alt="Couple icon" width="100">
            <p>I love you more than words can express. Click the button to make this Valentine's Day special! 🌹</p>
            <button id="yesButton">Yes, I will! 🥰</button>
            <button id="noButton">No, thanks 😢</button>
        </div>

        <!-- The letter modal -->
        <div id="letterModal" class="modal">
            <div class="letter-content">
                <span class="close">&times;</span>
                <div class="letter">
                    <p class="message">Yay! Thank you for being my Valentine! 🌈<br>Wishing you a wonderful and joyous Valentine's Day! 💕</p>
                </div>
            </div>
        </div>

        <script src="/templates/static/script.js
        "></script>
    </body>
    </html>
